<!DOCTYPE html>

<html lang='en'>
    <head>
        <link href="/static/hockey.ico" rel="icon">

        <title>{% block title %}{% endblock %}</title>
        
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <div style='position: relative;'>
            <a style='position: absoulte; bottom: 0; right: 0;' href='https://github.com/alexoh554/sportsfeed' target="_blank" rel="noopener noreferrer"><img src='/static/github.png' alt='View source code via github'></a>
        </div>
    </body>
</html>