{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block style %}
    form {
        position: absolute; 
        display: inline-block;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    input {
        padding: 2px;
        border-width: 1px;
        border-style: solid;
        height: 100%;
        width: 100%;
        font-size: 24px;
    }
    .boxput {
        height: 40px;
        width: 250px;
    }
    h2 {
        text-align: center;
        font-family: "Courier New", Courier, monospace;;
        color: black;
        font-size: 18px;
    }
    body {
        background-color: black;
        background-image: url(/static/stadium.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: luminosity;
    }
    #box {
        background-color: white;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 430px;
        border-radius: 10px;
    }   
{% endblock %}

{% block body %}
    <div id='box'></div>

    <form action="/signup" method="post">
        <div class='boxput'>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div class='boxput'>
            <input style='position: relative; top: 30px;' name="password" placeholder="Password" type="password">
        </div>
        <div class='boxput'>
            <input style='position: relative; top: 60px;' name='confirmation' placeholder='Confirm Password' type='password'>
        </div>
        <button style='position: relative; top: 90px; height: 30px; width: 90px; font-size: 16px;' type="submit">Sign up</button>
    </form>

    <div style='position: absolute; transform: translate(-50%, -50%); left: 50%; top: 30%;'>
        <h1 style='text-align: center; font-family: "Courier New", Courier, monospace; color: black; font-size: 24px;'>
            Create an Account:
        </h1>
        <h2>
            Username must be unique and between 4-12 characters.
        </h2>
        <h2>
            Password must be between 6-16 characters.
        </h2>
    </div>

{% endblock %}